<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-c">Anime</h1>
                <h1 id="google-s">Recommender</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for an anime" id="filter-text-val" onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(title, titleDesc) {
  return `<div class=''>
      <h3 class='episode-title'>${title}</h3>
      <p class='episode-desc'>${titleDesc}</p>
  </div>`
}

function sendFocus() {
  document.getElementById('filter-text-val').focus()
}

function filterText() {
  let searchTerm = document.getElementById("filter-text-val").value.trim().toLowerCase();

      if (searchTerm === "naruto uzamaki") {

    let animeRecommendations = [
      { title: "Naruto: Takigakure no Shitou - Ore ga Eiyuu Dattebayo!", descr: "After safely escorting the cowardly Takigakure leader Shibuki to his homeland, Naruto Uzumaki, Sasuke Uchiha, and Sakura Haruno are taken aback by the village's sudden invasion of rogue ninjas. As their teacher Kakashi Hatake had departed for Konohagakure beforehand, the team is left to deal with the attacking forces on their own." },
      { title: "Utawarerumono", descr: "An injured man is found in the woods by a girl named Eruruu, and everything about him is mysterious. Without knowledge of his past nor even his own name, he is welcomed to Eruruu's home and is given the name Hakuoro by her grandmother, and younger sister, Aruruu. While the inhabitants of the village have large ears and tails, Hakuoro's defining physical trait is quite different as he has neither ears nor tail, but only a mask that he cannot remove." },
      { title: "Naruto Movie 2: Dai Gekitotsu! Maboroshi no Chiteiiseki Dattebayo!", descr: "In a tumultuous effort, the Sunagakure ninjas attempt to repel an unforeseen invasion of mysterious armored warriors on the Land of Wind. Shortly afterwards, the same armored troops led by Temujin—a skilled knight of impressive power—ambush Naruto Uzumaki, Sakura Haruno, and Shikamaru Nara, who are on a mission to recover a lost ferret. Naruto and Temujin engage in a fierce fight that ends with both of them falling off a cliff." }
    ];

    animeRecommendations.forEach((row) => {
      let tempDiv = document.createElement("div");
      tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr);
      document.getElementById("answer-box").appendChild(tempDiv);
    });
  } 
    if (searchTerm === "cowboy bebop") {

    let animeRecommendations = [
      { title: "Seihou Bukyou Outlaw Star", descr: "Gene Starwind has always dreamed of piloting his own ship out into the vast sea of stars. Unfortunately, not all dreams come true, as he spends his days working odd jobs alongside his partner, James Hawking, on the small planet Sentinel III instead. However, this all takes a turn when the duo takes on a job from Rachel Sweet who, unbeknownst to them, is actually a treasure-hunting outlaw. Tasked with protecting a mysterious girl known as Melfina, the meeting irrevocably changes the pair's lives as they are sent out into the great unknown aboard the highly advanced ship, Outlaw Star." },
      { title: "Cowboy Bebop: Tengoku no Tobira", descr: "Another day, another bounty—such is the life of the often unlucky crew of the Bebop. However, this routine is interrupted when Faye, who is chasing a fairly worthless target on Mars, witnesses an oil tanker suddenly explode, causing mass hysteria. As casualties mount due to a strange disease spreading through the smoke from the blast, a whopping three hundred million woolong price is placed on the head of the supposed perpetrator." },
      { title: "Uchuu Kaizoku Captain Herlock", descr: "It is 2977 AD and mankind has become stagnant. Robots do all the work, the masses are kept tranquil by subliminal messages, and government officials are lazy, caring only about recreational activities like golf and horse racing. Captain Herlock has defied this insipid mentality, leading a group of like-minded rebels to a more adventurous life aboard the spaceship Arcadia." }
    ];

    animeRecommendations.forEach((row) => {
      let tempDiv = document.createElement("div");
      tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr);
      document.getElementById("answer-box").appendChild(tempDiv);
    });

  }
}

    </script>
</body>
